.btn-custom{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    border: 1px solid gray;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 1.6vh;
}

.btn-custom:hover{
    transition: 0.5s ease;
    transform: scale(1.2);
}

.btn-custom:not(:hover){
    transition: 0.5s ease;
    transform: scale(1);
}